body {
  font-family: 'Oxygen', sans-serif;
}
h1 {
  color: #776951;
  font-size: 2rem;
  margin: 5px;
}

#container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F6FAFD;
}
#map{
  height: 900px;
  width: 650px;
}
#header{
  height: 150px;
  background-color: #F6FAFD;
}
img{
  position: absolute;
}
.sub-menu{
  border: 1px solid #776951;
  height: 250px;
  width: 100%;
  padding: 16px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: center;
}

.sub-menu.picture {
  padding: 0;
  text-align: left;
}

.menu{
  width: 350px;
  padding: 0 20px;
}

.wide-item{
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #F6FAFD;
}

.highlighted-text{
  font-weight: bolder;
}

#dateMenu{
  height: 140px;
}

.play-button-container {
  margin-top: 64px;
}

#bird-select, #play {
  -webkit-appearance: none;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #776951;
  border-radius: 5px;
  cursor: pointer;
}

#play {
  width: 90px;
  padding: 16px;
  background-color: #fff;
}

.bird-select-container {
  position: relative;
  display: inline-block;
  background-color: #fff;
}

.bird-select-container:after {
  content: '';
  position: absolute;
  top: 8px;
  right: 9px;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 1px solid #776951;
  border-bottom: 1px solid #776951;
  transform: rotate(-45deg);
}

#bird-select {
  padding: 4px 16px 4px 4px;
  background-color: transparent;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 100px;
}

.info p {
  line-height: 15px;
  margin: 2px 2px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 19px;
  color: #555;
  margin-bottom: 40px !important
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
